* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #ff6b6b;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #333;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: inline-block;
}

nav a:hover {
  background: #ff6b6b;
}

main {
  padding: 20px;
}

footer {
  background: #742020;
  color: white;
  text-align: center;
  padding: 10px;
}



.hero {
  background: #ffecec;
  text-align: center;
  padding: 40px 20px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.hero button:hover {
  background: #e63946;
}


.cakes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.cake-card img {
  width: 100%;
  height: 160px;        /* yahan size control hota hai */
  object-fit: cover;   /* image cut ho sakti hai but shape perfect */
  display: block;
}
.cake-card:hover img {
  transform: scale(1.05);
  transition: 0.3s;
}


.cake-card {
  background: #ff6b6b;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
}



.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.why-grid div {
  background: #ff6b6b;
  color: white;
  padding: 20px;
  text-align: center;
}

//menu css

.menu-list {
  max-width: 600px;
  margin: auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  background: #ffecec;
  padding: 15px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #ff6b6b;
}

#togglePriceBtn {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 15px 0;
  cursor: pointer;
}



form {
  max-width: 400px;
  margin: auto;
  background: #ffecec;
  padding: 20px;
}

input, select {
  width: 100%;
  padding: 8px;
}

button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#message {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}







#total {
  margin-top: 8px;
  font-weight: bold;
  color: #333;
}



#resetBtn {
  margin-top: 10px;
  background: #999;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}


#summary {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
  background: #f9f9f9;
}

#thanks {
  margin-top: 10px;
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 30px;
  background: #f8e8e8;
}

.hero .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: brown;
  color: white;
  text-decoration: none;
}

.cards {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
  text-align: center;
}
